alembic==1.13.1
annotated-types==0.7.0
anyio==4.4.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
async-timeout==4.0.3
asyncpg==0.29.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
braq==0.0.6
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///D:/bld/cffi_1696001730392/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda @ file:///D:/bld/conda_1711445991878/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dnspython==2.6.1
email_validator==2.1.1
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
init==0.1.0
Jinja2==3.1.4
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///D:/bld/jsonpointer_1695397563781/work
libmambapy @ file:///D:/bld/mamba-split_1711394434532/work/libmambapy
Mako==1.3.5
mamba @ file:///D:/bld/mamba-split_1711394434532/work/mamba
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
menuinst @ file:///D:/bld/menuinst_1705068455553/work
orjson==3.10.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
paradict==0.0.7
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1706116770704/work
pycosat @ file:///D:/bld/pycosat_1696356014994/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.7.3
pydantic-settings==2.3.1
pydantic_core==2.18.4
Pygments==2.18.0
pyproject==1.3.1
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rich==13.7.1
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1707298240950/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1707314694548/work
shared==0.0.30
shellingham==1.5.4
sniffio==1.3.1
SQLAlchemy==2.0.30
starlette==0.37.2
terminal==0.4.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typer==0.12.3
typing_extensions==4.12.1
ujson==5.10.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
ustrid==0.0.3
uvicorn==0.30.1
watchfiles==0.22.0
websockets==12.0
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
written==0.0.4
zstandard==0.22.0
